
<h2>Entry Data</h2>
<p align=justify>Melayani entry data yang dibutuhkan client atau konsumen dalam format excel dan SPSS. Format dan data yang akan dientri diberikan oleh client. Hasil entry data akan dikirim melalui e-mail pengirim atau client. Waktu pemasukan/entry data disesuaikan dengan jumlah, jenis dan kerumitan data yang diberikan oleh client, dalam hal ini client atau konsumen dapat bertanya melalui e-mail dengan menuliskan kode "ED" di bagian subject line (tidak dikenakan biaya). Bagi yang membutuhkan layanan entry data selanjutnya dapat menghubungi CONTACT US.</p>

<h2>Pengolahan Data</h2>
<p align=justify>Melayani kebutuhan client dalam hal olah data. Model analisa dan data yang akan diolah diberikan oleh client atau konsumen. Jasa pengolahan data hanya memberikan hasil atau outputnya saja tanpa disertai dengan interpretasi hasil. Waktu pengolahan data disesuaikan dengan tingkat kerumitan data, dalam hal ini client atau konsumen dapat bertanya melalui e-mail dengan menuliskan kode "PD" di bagian subject line (tidak dikenakan biaya). Bagi yang membutuhkan layanan pengolahan data selanjutnya dapat menghubungi CONTACT US.</p>
<h3>Skup Layanan Pengolahan Data meliputi Model-Model :</h3>
<p>
<ol>
<li>Uji Validitas</li>
<li>Uji Realiabilitas</li>
<li>Uji Normalitas</li>
<li>Regresi Linier</li>
<li>Regresi Berganda</li>
<li>Korelasi</li>
<li>Chi Square</li>
<li>Cross Tab</li>
<li>Path Analisis/Analisis Jalur</li>
<li>Analisis Faktor</li>
<li>Analisis Cluster</li>
<li>Model Persamaan Struktural/Structure Equation Model (SEM)</li>
<li>Analisis Diskriminan</li>
<li>Analisis Hirarki Proses (AHP)</li>
<li>Sektor Basis dan Non Basis / Location Quotient (LQ)</li>
<li>Supply - Demand</li>
<li>Surplus - Defisit</li>
<li>Effect Multiplier</li>
<li>Koefisien Lokalisasi</li>
<li>Koefisien Spesialisasi</li>
<li>Input - Output</li>
<li>Shift and Share</li>
<li>Rank Size Rule </li>
<li>Indeks Williamson</li>
<li>Indeks Gini</li>
</ol>
</P>
<p>
<hr>
<h4>Petunjuk entry dan pengolahan data :</h4>
<code>

1. Entry data untuk data yang berbentuk questioner sebaiknya dikirim sesuai dengan hasil survey yang dilakukan client (melampirkan lembaran hasil questioner). Hasil questioner harus direkap dalam bentuk ms.word dan dikirimkan ke           ke e-mail kami (alamat e-mail dapat dilihat di contact us).<br><br>
2. Sebelum meminta layanan pengolahan data, sebaiknya client telah melakukan uji validitas, uji reliabilitas dan normalisasi data  terlebih dahulu untuk menghindari hasil pengolahan data yang menyimpang/error. Apabila client memerlukan uji validitas, uji reliabilitas dan normalisasi data silakan buka menu layanan, lalu klik data.


</code>
</P>
