<p><h2>Kami menerima beberapa layanan diantaranya :</h2></p>


<h3>Konsultasi</h3><p align=justify>
<code>CKonsultasi meliputi segala hal yang berhubungan dengan proses bimbingan untuk penulisan Skripsi, Tugas Akhir, Thesis dan Penelitian. Konsultasi dilakukan melalui e-mail dengan batasan pertanyaan..<br> <a href =http://localhost:3000/layanan/konsultasi>selanjutnya..</a></code></p>





<h3>Jurnal</h3><p align=justify>
<code>Client atau konsumen yang akan memakai jasa pencarian jurnal diharuskan memberikan key words atau kata kunci yang terkait dengan subjek yang dicari melalui e-mail. Jurnal yang didapat berdasarkan key words atau kata kunci yang diberikan client, sehingga jasa layanan ini tidak bertanggung jawab terhadap..<br> <a href =http://localhost:3000/layanan/jurnal>selanjutnya..</a></code>

</p>




<h3>Data</i></h3><p align=justify>
<code>Untuk layanan data kami menyediakan jasa entry data dan..<br> <a href =http://localhost:3000/layanan/data>selanjutnya..</a></code>

</p>





<h3>Terjemahan</h3><p align=justify>
<code>Sedangkan untuk layanan terjemahan kami menyediakan jasa diantaranya terjemahan bahasa Inggris ke bahasa Indonesia, bahasa..<br> <a href =http://localhost:3000/layanan/terjemahan>selanjutnya..</a></code>

</p>

