<p align=justify>Konsultasi meliputi segala hal yang berhubungan dengan proses bimbingan untuk penulisan Skripsi, Tugas Akhir, Thesis dan Penelitian. Konsultasi dilakukan melalui e-mail dengan batasan pertanyaan per e-mail maksimal 5 item pertanyaan. Jawaban akan dikirim melalui e-mail pengirim paling lambat 2 (dua) hari setelah proses transaksi dilakukan<p> 
Topik konsultasi yang dilayani meliputi :<br>
<ol>
<li>Ekonomi Pembangunan (Kode EP)</li>
<li>Perencanaan Wilayah dan Kota (Kode PWK)</li>
<li>Pangan da Gizi (Kode PG)</li>
<li>Topik lain yang berhubungan dengan ke-empat topik di atas (Kode LAIN)</li>
</ol>

<p align=justify>
Client yang akan meminta layanan konsultasi diharapkan menuliskan "KONSUL (Kode Topik)" di bagian subject line untuk tiap konsultasi e-mail yang dikirim. Contoh : "KONSUL (EK) untuk permintaan layanan konsultasi dengan topik Ekonomi." Untuk lebih memperjelas pertanyaan yang akan diajukan dalam proses konsultasi, ikuti petunjuk berikut ini :<br>
<ol>
<li>Sebelum melakukan konsultasi sebaiknya client menuliskan terlebih dahulu point-point pertanyaan yang akan diajukan, sehingga pertanyaan dapat terstruktur dan kemungkinan duplikasi pertanyaan dapat dihindarkan.</li>
<li>Hasil konsultasi akan kami kirimkan melalui e-mail client. Hasil konsultasi akan kami kirim setelah kami memastikan bahwa client melakukan transaksi biaya konsultasi melalui no rekening kami (no rekening dapat dilihat di contact us).</li>
</ol>

</P>
