<h2>Bahasa Inggris</h2>
<p>
<ol>
<li>Bahasa Inggris ke Bahasa Indonesia (Kode EI).</li>
<li>Bahasa Indonesia ke Bahasa Inggris (Kode IE).</li>

</ol>
</P>
<p align=justify>
Bahan-bahan yang akan diterjemahkan dikirim melalui e-mail client atau konsumen dengan menuliskan kode sesuai dengan permintaan layanan, yaitu kode "EI" untuk layanan terjemahan Bahasa Inggris ke Bahasa Indonesia dan kode "IE" untuk layanan terjemahan Bahasa Indonesia ke Bahasa Inggris di bagian subject line. Waktu terjemahan disesuaikan dengan jumlah halaman dan kerumitan bahan, dalam hal ini client dapat bertanya melalui e-mail dengan tetap menuliskan kode sesuai permintaan (tidak dikenakan biaya). Informasi lebih lanjut dapat dilihat pada layanan TIPS dan CONTACT US.


</p>


<h2>Bahasa Sunda</h2>
<p>
<ol>
<li>Bahasa Sunda ke Bahasa Indonesia (Kode SI).</li>
<li>Bahasa Indonesia ke Bahasa Sunda (Kode IS)</li>

</ol>
</P>
<p align=justify>
Bahan-bahan yang akan diterjemahkan dikirim melalui e-mail client atau konsumen dengan menuliskan kode sesuai dengan permintaan layanan, yaitu kode "SI" untuk layanan terjemahan Bahasa Sunda ke Bahasa Indonesia dan kode "IS" untuk layanan terjemahan Bahasa Indonesia ke Bahasa Sunda di bagian subject line. Waktu terjemahan disesuaikan dengan jumlah halaman dan kerumitan bahan, dalam hal ini client dapat bertanya melalui e-mail dengan tetap menuliskan kode sesuai permintaan (tidak dikenakan biaya). Informasi lebih lanjut dapat dilihat pada layanan TIPS dan CONTACT US.

</p>



<h2>Bahasa Sunda - Bahasa Inggris</h2>
<p>
<ol>
<li>Bahasa Sunda ke Bahasa Inggris (Kode SE).</li>
<li>Bahasa Inggris ke Bahasa Sunda.(Kode ES).</li>

</ol>
</P>
<p align=justify>
Bahan-bahan yang akan diterjemahkan dikirim melalui e-mail client atau konsumen dengan menuliskan kode sesuai dengan permintaan layanan, yaitu kode "SE" untuk layanan terjemahan Bahasa Sunda ke Bahasa Inggris dan kode "ES" untuk layanan terjemahan Bahasa Inggris ke Bahasa Sunda di bagian subject line. Waktu terjemahan disesuaikan dengan jumlah halaman dan kerumitan bahan, dalam hal ini client dapat bertanya melalui e-mail dengan tetap menuliskan kode sesuai permintaan (tidak dikenakan biaya). Informasi lebih lanjut dapat dilihat pada layanan TIPS dan CONTACT US.

</p>

<hr>
<h4>Petunjuk Layanan Terjemahan :</h4>
<code>

1.	Bahan-bahan yang hendak diterjemahkan hendaknya di scan terlebih dahulu lalu kirimkan ke e-mail kami (alamat e-mail dapat dilihat di contact us). Hal ini diperlukan untuk memperhitungkan waktu terjemahan dengan jumlah halaman dan kerumitan bahan. Khusus untuk abstrak penelitian cukup kirimkan dalam bentuk file document saja.<br><br>
2.	Waktu yang diperlukan untuk menyelesaikan terjemahan akan kami konfirmasikan kepada client atau konsumen melalui e-mail.


</code>
</P>